@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Basic HTML Site</title>
</head>
<body>
    <canvas id="cw"></canvas>

    <iframe width="350" height="250" src="https://www.youtube.com/embed/7qFfFVSerQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>


</html>